// =============================================================================
// Imports
// =============================================================================

@import 'coder/variables';
@import 'coder/animations';
@import 'coder/utils';

// =============================================================================
// The App
// =============================================================================

.su-coder-app {
	position: relative;
	overflow: hidden;
	margin: $size-base auto;
	max-width: 1240px;
	border-radius: $radius;
	background: white;
	box-shadow: 0 4px 4px rgba(black, 0.15), 0 8px 8px rgba(black, 0.15),
		0 16px 16px rgba(black, 0.15);
	transform: translate3d(0, 0, 0);
}

// =============================================================================
// Header
// =============================================================================

.su-coder-header {
	background: $color-wp-ui-highlight;
}
.su-coder-header-inner {
	position: relative;
	padding: $size-base * 0.5 $size-base;
}

// -----------------------------------------------------------------------------
// - Close button
// -----------------------------------------------------------------------------

.su-coder-close-btn {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0 $size-base;
	border: none;
	background: transparent;
	color: white;
	cursor: pointer;
}
.su-coder-close-btn svg {
	width: 14px;
	height: 14px;
}
.su-coder-close-btn:hover,
.su-coder-close-btn:focus {
	opacity: 0.7;
}

// =============================================================================
// Main pane
// =============================================================================

.su-coder-main {
	display: flex;
}

// -----------------------------------------------------------------------------
// - Sidebar
// -----------------------------------------------------------------------------

.su-coder-main-sidebar {
	overflow: hidden;
	padding: $size-base 0;
	background: $color-wp-bg;
	background: linear-gradient(
		to right,
		$color-wp-bg,
		$color-wp-bg 90%,
		mix(black, $color-wp-bg, 3)
	);
}
.su-coder-main-sidebar a {
	display: block;
	padding: 8px $size-base * 1.5 8px $size-base;
	color: #555;
	text-decoration: none;
	transition: none;
}
.su-coder-main-sidebar a:hover {
	color: #111;
}
.su-coder-main-sidebar a.su-coder-main-sidebar-selected {
	background: white;
	box-shadow: 5px 0 7px rgba(black, 0.1);
	color: #111;
}

// -----------------------------------------------------------------------------
// - Shortcodes
// -----------------------------------------------------------------------------

.su-coder-main-shortcodes {
	flex: 1;
	padding: $size-base;
}
.su-coder-main-shortcodes::after {
	display: table;
	clear: both;
	content: '';
}
.su-coder-main-shortcodes a {
	display: flex;
	float: left;
	align-items: center;
	box-sizing: border-box;
	margin: ($shortcodes-grid-gap / 2);
	padding: $shortcodes-grid-gap * 0.5 0 $shortcodes-grid-gap * 0.5 5px;
	width: $shortcodes-grid-item-width;
	border: 1px solid white;
	border-bottom-style: dotted;
	border-bottom-color: rgba(black, 0.1);
	color: black;
	text-decoration: none;
	transition: none;
}
.su-coder-main-shortcodes a:hover,
.su-coder-main-shortcodes a:focus {
	border: 1px solid $color-wp-ui-highlight;
	border-radius: $radius;
	background: rgba($color-wp-ui-highlight, 0.05);
}
.su-coder-main-shortcodes a.su-coder-main-shortcodes-item-hidden {
	display: none;
}
.su-coder-main-shortcodes a i,
.su-coder-main-shortcodes a img {
	margin-right: 8px;
	width: $shortcodes-grid-icon-size;
	height: $shortcodes-grid-icon-size;
	vertical-align: middle;
	font-size: $shortcodes-grid-icon-size;
	opacity: 0.8;
}
.su-coder-main-shortcodes a span {
	overflow: hidden;
	text-transform: capitalize;
	white-space: nowrap;
	font-size: 12px;
}

@supports (grid-area: auto) {
	.su-coder-main-shortcodes {
		display: grid;
		align-content: start;

		grid-template-columns: repeat(
			auto-fit,
			minmax($shortcodes-grid-item-width, 1fr)
		);
		grid-column-gap: $shortcodes-grid-gap;
	}
	.su-coder-main-shortcodes a {
		float: none;
		margin: 0;
		width: 100%;
	}
}

// =============================================================================
// Shortcode pane
// =============================================================================

.su-coder-shortcode {
	display: flex;
	height: calc(100vh - 100px);
}

// -----------------------------------------------------------------------------
// - Settings
// -----------------------------------------------------------------------------

.su-coder-settings {
	overflow-y: auto;
	flex: 0 0 440px;
	box-sizing: border-box;
	padding: $size-base;
	border-right: 1px solid $color-wp-border;
	background: $color-wp-bg;
	transform: translateZ(0);

	backface-visibility: hidden;
}

// -----------------------------------------------------------------------------
// - Preview
// -----------------------------------------------------------------------------

.su-coder-preview {
}

// =============================================================================
// Loading indicator
// =============================================================================

.su-coder-data-loading {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	color: $color-wp-ui-highlight;
	text-align: center;
	font-weight: bold;
}
.su-coder-data-loading span {
	animation: loading 1s infinite;
}

// =============================================================================
// Lightbox
// =============================================================================

// -----------------------------------------------------------------------------
// - Body class
// -----------------------------------------------------------------------------

body.su-coder-lightbox-opened {
	overflow: hidden;
}

// -----------------------------------------------------------------------------
// - Background
// -----------------------------------------------------------------------------

.su-coder-lightbox-bg {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 101000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.8;
}

// -----------------------------------------------------------------------------
// - The Lightbox
// -----------------------------------------------------------------------------

.su-coder-lightbox {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 102000;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	height: 100%;

	backface-visibility: hidden;
}

// =============================================================================
// Classic Editor Button
// =============================================================================

.su-coder-classic-editor-button {
	display: inline-flex !important;
	align-items: center;
}
.su-coder-classic-editor-button svg {
	width: 16px;
	height: 14px;
	opacity: 0.8;
}
.su-coder-classic-editor-button svg + span {
	margin-left: 0.5em;
}
