// =============================================================================
// Variables
// =============================================================================

$size-base: 20px;

// =============================================================================
// Button
// =============================================================================

.su-coder-button {
	display: inline-flex !important;
	align-items: center;

	svg {
		width: 14px;
		height: 14px;
		color: #82878c;
	}

	svg + span {
		margin-left: 0.5em;
	}
}

// =============================================================================
// Magnific Popup
// =============================================================================

.su-coder-mfp.mfp-bg {
	z-index: 101000 !important;
}

.su-coder-mfp.mfp-wrap {
	z-index: 101001 !important;

	.mfp-container {
		padding: 0 $size-base;
	}

	.mfp-close {
		display: none;
	}
}

// =============================================================================
// Main Window
// =============================================================================

.su-coder-app {
	position: relative;
	margin: $size-base auto;
	max-width: 1200px;
	background: white;
}

// =============================================================================
// Header
// =============================================================================

.su-coder-header {
	position: relative;
	padding: $size-base * 0.5 $size-base;
}

.su-coder-close-btn {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0 $size-base;
	border: none;
	background: transparent;
	color: white;
	cursor: pointer;

	svg {
		width: 14px;
		height: 14px;
	}

	&:hover svg,
	&:focus svg {
		opacity: 0.7;
	}
}

// =============================================================================
// Shortcodes & Groups
// =============================================================================

.su-coder-shortcodes-group-shortcodes button {
	width: 100px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	background: #000;
	color: white;
	display: inline-block;
	border: none;
	margin: 0;
}
