// =============================================================================
// Imports
// =============================================================================

@import 'coder/variables';
@import 'coder/animations';
@import 'coder/utils';

// =============================================================================
// Main Pane
// =============================================================================

.su-coder-app {
	position: relative;
	margin: $size-base auto;
	max-width: 1200px;
	border-radius: $radius;
	background: white;
	box-shadow: 0 4px 4px rgba(black, 0.15), 0 8px 8px rgba(black, 0.15),
		0 16px 16px rgba(black, 0.15);
}

// =============================================================================
// Header
// =============================================================================

.su-coder-header {
	background: $color-wp-ui-highlight;
}
.su-coder-header-inner {
	position: relative;
	padding: $size-base * 0.5 $size-base;
}
.su-coder-header,
.su-coder-header-inner {
	border-top-left-radius: $radius;
	border-top-right-radius: $radius;
}

// -----------------------------------------------------------------------------
// Close Btn
// -----------------------------------------------------------------------------

.su-coder-close-btn {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0 $size-base;
	border: none;
	background: transparent;
	color: white;
	cursor: pointer;
}
.su-coder-close-btn svg {
	width: 14px;
	height: 14px;
}
.su-coder-close-btn:hover,
.su-coder-close-btn:focus {
	opacity: 0.7;
}

// =============================================================================
// Shortcodes
// =============================================================================

$shortcodes-grid-item-width: 90px;
$shortcodes-grid-gap: 5px;

.su-coder-shortcodes {
	padding: $size-base * 0.5;
}
.su-coder-shortcodes::after {
	display: table;
	clear: both;
	content: '';
}
.su-coder-shortcodes a {
	display: block;
	float: left;
	box-sizing: border-box;
	margin: ($shortcodes-grid-gap / 2);
	width: $shortcodes-grid-item-width;
	height: 100px;
	color: black;
	text-align: center;
	text-decoration: none;
	background: #f5f5f5;
}
.su-coder-shortcodes a img {
	width: 60px;
	height: 60px;
	vertical-align: bottom;
	margin-bottom: 5px;
}
.su-coder-shortcodes a span {
	display: block;
	height: 26px;
	line-height: 13px;
	font-size: 13px;
	text-align: center;
	overflow: hidden;
}

@supports (grid-area: auto) {
	.su-coder-shortcodes {
		display: grid;

		grid-template-columns: repeat(auto-fit, minmax($shortcodes-grid-item-width, 1fr));
		grid-gap: $shortcodes-grid-gap;
	}
	.su-coder-shortcodes a {
		float: none;
		width: 100%;
		height: auto;
		margin: 0;
	}
}

// =============================================================================
// Shortcode
// =============================================================================

.su-coder-shortcode {
	display: flex;
	height: calc(100vh - 100px);
}

// -----------------------------------------------------------------------------
// Settings Pane
// -----------------------------------------------------------------------------

.su-coder-settings {
	overflow-y: auto;
	flex: 0 0 440px;
	box-sizing: border-box;
	padding: $size-base;
	border-right: 1px solid $color-wp-border;
	background: $color-wp-bg;
	transform: translateZ(0);

	backface-visibility: hidden;
}

// -----------------------------------------------------------------------------
// Preview Pane
// -----------------------------------------------------------------------------

.su-coder-preview {
}

// =============================================================================
// Loading indicator
// =============================================================================

.su-coder-data-loading {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	color: $color-wp-ui-highlight;
	text-align: center;
	font-weight: bold;
}
.su-coder-data-loading span {
	animation: loading 1s infinite;
}

// =============================================================================
// Lightbox
// =============================================================================

// -----------------------------------------------------------------------------
// Body class
// -----------------------------------------------------------------------------

body.su-coder-lightbox-opened {
	overflow: hidden;
}

// -----------------------------------------------------------------------------
// Lightbox Background
// -----------------------------------------------------------------------------

.su-coder-lightbox-bg {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 101000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.8;
}

// -----------------------------------------------------------------------------
// The Lightbox
// -----------------------------------------------------------------------------

.su-coder-lightbox {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 102000;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	height: 100%;
	outline: none !important;
	transform: translateZ(0);

	backface-visibility: hidden;
}

// =============================================================================
// Classic Editor Button
// =============================================================================

.su-coder-classic-editor-button {
	display: inline-flex !important;
	align-items: center;
}
.su-coder-classic-editor-button svg {
	width: 14px;
	height: 14px;
	color: #82878c;
}
.su-coder-classic-editor-button svg + span {
	margin-left: 0.5em;
}
