// =============================================================================
// Variables
// =============================================================================

$radius: 3px;
$size-base: 20px;
$color-wp-ui-highlight: #1e8cbe;
$color-wp-bg: #f1f1f1;
$color-wp-border: #ddd;
