// =============================================================================
// Colors
// =============================================================================

$color-wp-ui-highlight: #1e8cbe;
$color-wp-bg: #f1f1f1;
$color-wp-border: #ddd;

// =============================================================================
// Sizing
// =============================================================================

$radius: 3px;
$size-base: 20px;

// =============================================================================
// Shortcodes grid
// =============================================================================

$shortcodes-grid-item-width: 148px;
$shortcodes-grid-gap: 12px;
$shortcodes-grid-icon-size: 21px;
