# npm packages directory
node_modules/

# Build directory
build/

# Generated assets
/*/css/
!/includes/css/shortcodes.full.css
/*/js/*/*.js
*.js.map

# Local languages
/languages/*.po
/languages/*.mo
/languages/*.pot

# OS-specific files
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
